input[type="text"] {
	outline:none;
    width: 190px;
    border-radius:25px;
    padding-left:5px;
    padding-right:5px;

}

.example {
	font-size:75%;
}

.submit {
	outline:none;
	width:175px;
	height:100px;
	border-radius:25px;
}

.results{
	

}

